
body{
  background-color: rgba(135, 207, 235, 0.225);
}

.App {
  font-family: sans-serif;
background-color: #fff;
border-radius: 10px;
padding: 20px;
height: 100vh;

  max-width: 1200px;

  margin: 0 auto;
  box-shadow: 50x 50x 4px 40x black;
}




.horizontal{
  border-bottom: 1px solid black;
}
.x{
  padding: 60px;
  background-color: blue;
}



.j{
  position: absolute;
  top: 4px;
  left: 20px;

 display: none;


}
.check-cursor{
  cursor: pointer;

}

.cardDesign {
  /* Set the initial opacity and transition properties */
  opacity: 1;
  cursor: grab;
  transition: opacity 0.8s ease; /* Adjust the duration and timing function as needed */
}

.cardDesign:hover {
  opacity: 0.5; /* Change the opacity on hover */
}
.cardDesign:hover .j{ 
  display: block;

}


.marked {
  opacity: 0.5;
  
  /* Add your custom styling for selected items here */
/* Example: Red border for marked items */


}
.j2{
  display: block;
}


.d{
 opacity: 0.7;
}

.delete{
cursor: pointer;
color: red;
}

.display{
  display: flex;
  justify-content: space-between;
  align-items: center;





}
.nav{

 
}




.ja{
 border: 2px solid black;
 height: 500px;
}


.margin{
background-color: #ffffff;
margin-top: 10px;
cursor: grab;
padding: 10px;



}


.display2{
  background-color: aqua;

}
